/* banner styles */
.body {
    width: 1320px;
    margin: 0 auto;

}

.banner {
    background-image: url(images/Banner\ Image.png);
    background-size: cover;
    background-position: center;
    height: 600px;
    margin: 50px;
    border-radius: 16px;

}

.greeting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.greeting {
    font-family: Merriweather, serif;
    font-size: 32px;
    color: #FFFFFF;

}

.greeting-title {
    font-family: Merriweather, serif;
    font-weight: black;
    font-size: 72px;
    color: #FFFFFF;
    margin-top: 16px;
    text-shadow: burlywood;

}

/* offer styles */
.offers {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.offer-title {
    font-family: inter, sans-serif;
    font-weight: bold;
    font-size: 88px;
    color: #FF0000;

}

.offer-description {
    font-family: inter, sans-serif;
    font-weight: medium;
    font-size: 24px;
    color: #FF0000;
    margin-top: 48px;
}

.offer-category {
    font-family: inter, sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #070211;
    margin-top: 16px;
}

.offer-pic-container {
    width: 800px;
    height: 500px;
    margin: 40px 0 120px 0;
}

/* party section styles  */

.party-section {
    background-image: url("images/vectorrr.png");
    background-size: cover;
    background-position: center;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 120px;

}

.party-title {
    font-family: Merriweather, serif;
    font-weight: black;
    font-size: 72px;
    color: #FFFFFF;
    margin-bottom: 24px;

}

.party-description {
    font-family: inter, sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 48px;

}

.link {
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 50px;


}

.year-24 {
    width: 320px;
    height: 465px;
}