/* banner styles */
.body {
    width: 1320px;
    margin: 0 auto;

}

.banner {
    background-image: url(images/Banner\ Image.png);
    background-size: cover;
    background-position: center;
    height: 600px;
    margin: 50px;
    border-radius: 16px;

}

.greeting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.greeting {
    font-family: Merriweather, serif;
    font-size: 32px;
    color: #FFFFFF;

}

.greeting-title {
    font-family: Merriweather, serif;
    font-weight: black;
    font-size: 72px;
    color: #FFFFFF;
    margin-top: 16px;
    text-shadow: burlywood;

}

/* offer styles */
.offers {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.offer-title {
    font-family: inter, sans-serif;
    font-weight: bold;
    font-size: 88px;
    color: #FF0000;

}

.offer-description {
    font-family: inter, sans-serif;
    font-weight: medium;
    font-size: 24px;
    color: #FF0000;
    margin-top: 48px;
}

.offer-category {
    font-family: inter, sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #070211;
    margin-top: 16px;
}

.offer-pic-container {
    width: 800px;
    height: 500px;
    margin: 40px 0 120px 0;
}