/* banner styles */
.body-bg {
    background-image: linear-gradient(to right, #FCC6BB 5%, #FCC6BB 10%, #E8B4AC 10%, #E8B7AE 1%);
    width: 10%;
    gap: 10px;
}

.body {
    width: 1320px;
    margin: 0 auto;
}



.banner {
    background-image: url(images/Banner\ Image.png);
    background-size: cover;
    background-position: center;
    height: 600px;
    margin: 50px;
    border-radius: 16px;

}

.greeting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.greeting {
    font-family: Merriweather, serif;
    font-size: 32px;
    color: #FFFFFF;

}

.greeting-title {
    font-family: Merriweather, serif;
    font-weight: black;
    font-size: 72px;
    color: #FFFFFF;
    margin-top: 16px;
    text-shadow: burlywood;

}

/* offer styles */
.offers {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.offer-title {
    font-family: inter, sans-serif;
    font-weight: bold;
    font-size: 88px;
    color: #FF0000;

}

.offer-description {
    font-family: inter, sans-serif;
    font-weight: medium;
    font-size: 24px;
    color: #FF0000;
    margin-top: 48px;
}

.offer-category {
    font-family: inter, sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #070211;
    margin-top: 16px;
}

.offer-pic-container {
    width: 800px;
    height: 500px;
    margin: 40px 0 120px 0;
}

/* party section styles  */

.party-section {
    background-image: url("images/vectorrr.png");
    background-size: cover;
    background-position: center;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 120px;

}

.party-title {
    font-family: Merriweather, serif;
    font-weight: black;
    font-size: 72px;
    color: #FFFFFF;
    margin-bottom: 24px;

}

.party-description {
    font-family: inter, sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 48px;

}

.link {
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 50px;


}

.year-24 {
    width: 320px;
    height: 465px;
}

/* timetable section styles */

.timetable-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 120px;
}

.timetable-container {
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #070211;
    margin: 0 100px 0 48px;
}

.btn {
    font-family: Inter, sans-serif;
    font-weight: bold;
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
    padding: 16px 32px;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 48px;
    margin-bottom: 110px;
    text-align: center;
    justify-content: center;
}


/* newoffer-section */

.newoffer-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
    gap: ;
}

.offer-title {
    font-family: Inter, sans-serif;
    font-weight: medium;
    font-size: 24px;
    color: #FF0000;

}

.newoffer-container {
    gap: 70px;
}

.offer-heading {
    font-family: Merriweather, serif;
    font-weight: black;
    font-size: 48px;
    color: #070211;
    margin: 16px 0 22px 0;
}

.offer-description {
    font-family: Inter, sans-serif;
    font-weight: regular;
    font-size: 20px;
    color: #070211;
}


.circle-container {
    gap: 118px;
}

.circle-pic {
    width: 365px;
    height: 365px;
    padding: 35px;
    border: #FF0000 solid 15px;
    border-radius: 50%;

}

.year {
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #FF0000;
    margin-bottom: 16px;
}

.year-description {
    font-family: Inter, sans-serif;
    font-weight: regular;
    font-size: 20px;
    color: #070211;

}

.year-festoon {
    width: 140px;
    height: 140px;

}

/* sale and discount section */

.sale-container {
    text-align: center;
}

.sale-title {
    font-family: Inter, sans-serif;
    font-weight: medium;
    font-size: 24px;
    color: #070211;

}

.sale-heading {
    font-family: Merriweather, serif;
    font-weight: black;
    font-size: 72px;
    color: #070211;
    margin: 16px 0 28px 0;
}

.sale-description {
    font-family: Inter, sans-serif;
    font-weight: regular;
    font-size: 20px;
    color: #070211;
    margin-bottom: 64px;

}



.discount-container {
    background-image: url(images/Rectangle\ 2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-height: 229px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;

}

.discount-box {
    width: 675px;
    height: 575px;

}

.half-discount {
    width: 305px;
    height: 305px;
}